.signUp{
    margin: auto;
    text-align: center;
    width: 40%;
    height: 100vh;
}

.signUp_emailIcon{
    color: gray;
    margin-right: 10px;

}

.signUp_emailIcon > .MuiSvgIcon-root{
    font-size: 5px;
}


.signUp_Fname{
    margin-right: 15px;
}

.signUp_name{
    display: flex;
}

.phoneNumber{
    border: 1px solid gray;
    width: 100%;
    
}

.signUp_detail{
    font-size: 12px;
    margin-top: -1px;
}

.signUp_apps{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5px;
}
.signUp_appIcon{
    color: black;
    outline: none;
}

